@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

html{
    overflow-x: hidden;
}

.ad .ad_left{
    position:   fixed;
    left:       0;
    bottom:     0;
    width:      100%;
}

.itemList.dropdown{
    z-index: 1;
    float: right;
    margin-top: 17px;
}

.itemList #myInput {
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
}

.itemList .dropdown-toggle{
    width:335px;
}

.itemList .dropdown-menu{
    height: 300px;
    width:335px;
    overflow: overlay;
}

#chartdiv {
    width: 100%;
    height: 94vh;
}
#candlechartdiv {
    width: 100%;
    height: 94vh;
}

.modal-open{
    padding-right: 0px !important;
}

.sp-original-input-container .sp-add-on {
    width: 40px!important;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-radius: 4px!important;
    border: 1px solid rgb(204, 204, 204)!important;
}
.sp-original-input-container input {
    border-radius: 4px!important;
    border: 1px solid rgb(204, 204, 204)!important;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-left: 0!important;
}
#ads-left{position:fixed;left:50%;margin-left:-810px;overflow:hidden}
#ads-right{position:fixed;left:50%;margin-left:650px;overflow:hidden}
#ads-left.sticky,#ads-right.sticky{position:fixed;top:20px!important}

.tick_chart, .candle_chart{
    text-align:left;
    width: 100%;
    height: 4rem;
    border-bottom: 2px solid rgb(255, 255, 255);
    font-family: 'NanumSquare', sans-serif !important;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1.5rem;
    margin-top: 6rem;
}

.candleitemList.dropdown{
    float: right;
    margin-top: 17px;
}

.candleitemList #candlemyInput {
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
}

.candleitemList .dropdown-toggle{
    width:335px;
}

.candleitemList .dropdown-menu{
    height: 300px;
    width:335px;
    overflow: overlay;
}
.item-image {
    width: 100px;
}
.item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.item-image[data-grade="3"] {
    background: linear-gradient(135deg,#261331,#480d5d);
}   
.item-name[data-grade="3"] {
    color: #eaa9ff;
}

.item-image[data-grade="2"] {
    background: linear-gradient(135deg,#111f2c,#113d5d);
}
.item-name[data-grade="2"] {
    color: #4eccff;
}

.item-image[data-grade="1"] {
    background: linear-gradient(135deg,#18220b,#304911);
}
.item-name[data-grade="1"] {
    color: #91fe02;
}

.item-image[data-grade="0"] {
    background: linear-gradient(135deg,#232323,#575757);
}
.item-name[data-grade="0"] {
    color: #fff;
}

.img-gold{
    padding-bottom: 4px !important;
}
.img-crystal{
    padding-bottom: 3px !important;
}