
* {font-family: 'Spoqa Han Sans Neo', 'sans-serif';}

html{
    overflow-x: hidden;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1140px !important;
    }
}
@media (max-width:1400px){
    #ads-left,#ads-right,#coffee-left,#coffee-right{
        display:none;
    }
}

.itemList.dropdown{
    z-index: 1;
    float: right;
    margin-top: 17px;
}

.itemList #myInput {
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
}

.itemList .dropdown-toggle{
    width:335px;
}

.itemList .dropdown-menu{
    height: 300px;
    width:335px;
    overflow: overlay;
}

#chartdiv {
    width: 100%;
    height: 93vh;
}
#candlechartdiv {
    width: 100%;
    height: 93vh;
}

.modal-open{
    padding-right: 0px !important;
}

.sp-original-input-container .sp-add-on {
    width: 40px!important;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-radius: 4px!important;
    border: 1px solid rgb(204, 204, 204)!important;
}
.sp-original-input-container input {
    border-radius: 4px!important;
    border: 1px solid rgb(204, 204, 204)!important;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-left: 0!important;
}

/* #ads-top ins, #ads-left ins, #ads-right ins, #ads-bottom ins, #my-space-top ins {
    background-color: rgb(182, 182, 182);
} */

.ascdesc{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG2YAABzjgAA+swAAIT6AAB5gQAA/RMAADBtAAASKQ0eJk4AAACgSURBVHjarNI7CoQwEIDhCIrewMIDCB7Bxs7KM6T0DBbewcZOEFZhjvnvFoZFlmSyCzvTpPgYMg/zNN+k+ZldQY4lvd4aGzjpI4yKFWGhVBgJI4IgWJIwa9gc26kDjILZIUGYyPys4+DxzoNW6fQe/mrtR7XOzzKm299milCnNbtDG402N+vYqMzNGEoWhJUqttOekyG++hRLrrA/nOVrAL+bXF6R95QBAAAAAElFTkSuQmCC);
    background-position: right;
    background-repeat: no-repeat;
}
.asc {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG2YAABzjgAA+swAAIT6AAB5gQAA/RMAADBtAAASKQ0eJk4AAAB4SURBVHja7NIhEoJQAEXRT8AZh0WQXILBTdioVHeh3WVY3IbNTCAwENzJsUBhKB8Zh0C45YWTXkBYqvBvbI8r0iWwCzqUv2IHvPHBC/lcLMG9h4Zu/R6NnVCNsBrHWCzDcwQNPbCLwQq0aCZqcV7FzzZsw1aFfQcAV9hQiaeilqsAAAAASUVORK5CYII=);
    background-position: right;
    background-repeat: no-repeat;
}
.desc {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG2YAABzjgAA+swAAIT6AAB5gQAA/RMAADBtAAASKQ0eJk4AAAB5SURBVHja7NKhDYNgEAbQv4ImDUOgGKGiS9TV1rIFeMbAsAYOXVHRUNFNHgZFMFAMBPGZEy+5uy8grJVwYAe2F+yODp+JdHjMwc6o8JtIjXjumle8R9ALtyU3O6EYYeUwX/SABM0AtUj//eYTX2RrVCNCjst2S9sPAPIfUIl4VAv0AAAAAElFTkSuQmCC);
    background-position: right;
    background-repeat: no-repeat;
}

#ads-left{
    box-sizing: border-box;
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: 595px;
    width: 100%;
    max-width: 300px;
    max-height: 600px;
    height: 100%;
}

#ads-right{
    box-sizing: border-box;
    position: absolute;
    top: 200px;
    right: 50%;
    margin-right: 595px;
    width: 100%;
    max-width: 300px;
    max-height: 600px;
    height: 100%;
}

.tick_chart, .candle_chart{
    text-align:left;
    width: 100%;
    height: 4rem;
    border-bottom: 2px solid rgb(255, 255, 255);
    font-family: 'NanumSquare', sans-serif !important;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1.5rem;
    margin-top: 6rem;
}

.hr{
    text-align:left;
    width: 100%;
    height: 4rem;
    border-bottom: 2px solid rgb(255, 255, 255);
    font-family: 'NanumSquare', sans-serif !important;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.candleitemList #candlemyInput {
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
}

.candleitemList .dropdown-toggle{
    width:335px;
}

.candleitemList .dropdown-menu{
    height: 300px;
    width:335px;
    overflow: overlay;
}
.item-image {
    width: 100px;
}
.item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.item-image[data-grade="5"] {
    background: linear-gradient(135deg,#341a09,#a24006);
}
.item-name[data-grade="5"]{
    color: rgb(250, 93, 0);
}

.item-image[data-grade="4"] {
    background: linear-gradient(135deg,#362003,#9e5f04);
}
.item-name[data-grade="4"] {
    color: rgb(249, 146, 0);
}

.item-image[data-grade="3"] {
    background: linear-gradient(135deg,#261331,#480d5d);
}   
.item-name[data-grade="3"] {
    color: #eaa9ff;
}

.item-image[data-grade="2"] {
    background: linear-gradient(135deg,#111f2c,#113d5d);
}
.item-name[data-grade="2"] {
    color: #4eccff;
}

.item-image[data-grade="1"] {
    background: linear-gradient(135deg,#18220b,#304911);
}
.item-name[data-grade="1"] {
    color: #91fe02;
}

.item-image[data-grade="0"] {
    background: linear-gradient(135deg,#232323,#575757);
}
.item-name[data-grade="0"] {
    color: #fff;
}

.img-gold{
    padding-bottom: 4px !important;
}
.img-crystal{
    padding-bottom: 3px !important;
}

.range {
    width: 100%;
    height: 30px;
    -webkit-appearance: none;
    background: #111;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 1);
}
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #00fd0a;
    cursor: pointer;
    border: 4px solid #333;
    box-shadow: -420px 0 0 400px #00fd0a;
}
  
#keypad form {
    width: 390px;
    background: #4b4b4b;
    text-align: center;
    box-shadow: 0px 5px 5px -0px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
  
#keypad input:focus {
    outline: none;
}
  
#keypad .pinButton {
    border: none;
    background: none;
    font-size: 1.5em;
    border-radius: 10%;
    height: 92px;
    width: 126px;
    font-weight: 550;
    color: transparent;
    text-shadow: 0 0 0 rgb(255, 255, 255);
    vertical-align: middle;
    font-size:30px;
}
  
#keypad .clear,
#keypad .backspace {
    font-size: 1em !important;
}
  
#keypad .pinButton:hover {
    box-shadow: #ffffff 0 0 1px 1px;
}
#keypad .pinButton:active {
    background: #506ce8;
    color: #fff;
}
  
#keypad .clear:hover {
    box-shadow: #ff3c41 0 0 1px 1px;
}
  
#keypad .clear:active {
    background: #ff3c41;
    color: #fff;
}
  
#keypad .backspace:hover {
    box-shadow: #47cf73 0 0 1px 1px;
}
  
#keypad .backspace:active {
    background: #47cf73;
    color: #fff;
}

.game-tooltip-item {
    z-index: 30;
    width: 100%;
    max-width: 380px;
    padding: 0 0 20px;
    background-color: #2a2c35;
    box-sizing: border-box;
    border: 1px solid #1c1f2a;
    color: #fff;
    text-align: left;
}
.game-tooltip-item .NameTagBox {
    font-size: 18px;
    margin: 0!important;
    padding: 15px 25px;
    background-color: #2b2e37;
    border-bottom: 1px solid #1c1f2a;
    text-align: center;
}
.game-tooltip-item .NameTagBox font {
    font-size: inherit;
}
.game-tooltip-item .NameTagBox p{
    margin: 0;
    padding: 0;
    font-size: 100%;
}
.game-tooltip-item .itemdic-item-content>div, .game-tooltip-item>div:not(.itemdic-item-content) {
    margin: 12px 15px 0;
}
.game-tooltip-item .ItemTitle {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    height: 68px;
    padding-left: 83px;
}
.game-tooltip-item .ItemTitle .slotData[data-grade="3"] {
    background: linear-gradient(135deg,#261331,#480d5d);
}
.game-tooltip-item .ItemTitle .slotData {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 68px;
    height: 68px;
    border: 1px solid #000;
    box-sizing: border-box;
    background-size: 46px 46px;
}
.game-tooltip-item .ItemTitle .slotData img {
    width: 64px;
    height: 64px;
    border: 0;
    vertical-align: top;
}
.itemdic .itemdic-contents .itemdic-iteminfo .itemdic-items .leftStr0 {
    height: auto;
    min-height: 24px;
}
.game-tooltip-item .ItemTitle .leftStr0 {
    display: block;
    height: 42px;
    min-height: 24px;
    font-size: 16px;
}
.game-tooltip-item .ItemTitle .leftStr0 font {
    font-size: inherit;
}
.game-tooltip-item .ItemTitle .rightStr0 {
    display: block;
    margin-left: auto;
}
.game-tooltip-item .ItemTitle .leftStr2 {
    line-height: 1.75;
}
.game-tooltip-item .ItemTitle .leftStr2 font[size="14"] {
    font-size: 14px;
}
.game-tooltip-item .itemdic-item-content>div, .game-tooltip-item>div:not(.itemdic-item-content) {
    margin: 12px 15px 0;
}
.game-tooltip-item font[size="12"] {
    font-size: 14px;
}
br {
    opacity: 0;
}
.game-tooltip-item .ItemTitle .leftStr1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    font-size: 14px;
}
.game-tooltip-item .MultiTextBox {
    display: -ms-flexbox;
    display: flex;
}
.game-tooltip-item .MultiTextBox span:nth-child(2) {
    display: block;
    margin-left: auto;
}
.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
    background-color: #000;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
  }
  .accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #606060;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
  }
  .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
  }