html{
    overflow-x: hidden;
}

.ad .ad_left{
    position:   fixed;
    left:       0;
    bottom:     0;
    width:      100%;
}

.itemList.dropdown{
    z-index: 1;
    float: right;
    margin-top: 17px;
}

.itemList #myInput {
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
}

.itemList .dropdown-toggle{
    width:335px;
}

.itemList .dropdown-menu{
    height: 300px;
    width:335px;
    overflow: overlay;
}

#chartdiv {
    width: 100%;
    height: 94vh;
}

.modal-open{
    padding-right: 0px !important;
}

.sp-original-input-container .sp-add-on {
    width: 40px!important;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-radius: 4px!important;
    border: 1px solid rgb(204, 204, 204)!important;
}
.sp-original-input-container input {
    border-radius: 4px!important;
    border: 1px solid rgb(204, 204, 204)!important;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-left: 0!important;
}
#ads-left{position:fixed;left:50%;margin-left:-950px;overflow:hidden}
#ads-right{position:fixed;left:50%;margin-left:650px;overflow:hidden}
#ads-left.sticky,#ads-right.sticky{position:fixed;top:20px!important}